/* UserProfile.css */
.P.container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.P.card-body img {
    width: 150px;
}

.P.card-body .P.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.P.card-body .P.text-muted {
    margin-bottom: 1rem;
}

.P.btn {
    margin-top: 1rem;
    margin-right: 0.5rem;
}

.P.row hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container p {
    
}