.empty-cart-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F9F7E8;
  font-family: 'Arial', sans-serif;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.divider {
  border: 0;
  height: 1px;
  background-color: #C1BD99;
  margin-bottom: 20px;
}

.empty-message {
  text-align: center;
  margin-bottom: 20px;
}

.empty-message h3 {
  font-size: 22px;
  color: #555;
  margin-bottom: 10px;
}

.empty-message p {
  font-size: 16px;
  color: #777;
}

.recommendations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.recommendation-item {
  text-align: center;
  width: 45%;
}

.recommendation-item img {
  width: 50%;
  height:50%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.recommendation-item p {
  font-size: 14px;
  color: #333;
}
