.empty-cart-container {
  width: 60%;
  margin: 0 auto;
  background-color: #f7f6e7;
  padding: 20px;
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

h2 {
  text-align: left;
  color: #5a5a5a;
  margin-bottom: 20px;
}

.empty-cart-message {
  font-size: 24px;
  color: #5a5a5a;
  margin: 20px 0;
}

.recommendation-text {
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
}

.recommendations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.recommendation-item {
  text-align: center;
}

.recommendation-item img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.recommendation-item p {
  font-size: 16px;
  color: #333;
  margin: 0;
}
