.employee-time-book-container {
  margin-top: 80px;
  margin-left: 200px; /* Adjusting margin to align with sidebar */
  text-align: center;
  padding: 40px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 50px; /* Increased space between cards */
  margin-top: 50px;
}

.card {
  width: 350px; /* Wider card size */
  height: 300px; /* Increased height for cards */
  padding: 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.punch-in-card {
  border-left: 6px solid orange;
}

.punch-out-card {
  border-left: 6px solid green;
}

.input-box {
  width: 100%;
  padding: 18px; /* Increased padding for larger input box */
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 18px; /* Increased font size for better readability */
}

.button {
  padding: 16px 30px;
  font-size: 18px; /* Larger button font size */
  width: 100%;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.punch-in-button {
  background-color: #FFA500; /* Orange for Sign In */
}

.punch-out-button {
  background-color: #32CD32; /* Green for Sign Out */
}

.button:hover {
  opacity: 0.9;
}

.status-message {
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px; /* Increased font size for status message */
  color: #333;
}
