.today-attendance {
    width:80%;
    margin: 20px auto;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: #f5f5f5;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    text-align: center;
    background-color: #f0f0f0;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .download-icon{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0; /* Align to the right corner */
    cursor: pointer;
    color: black;
    transition: color 0.3s ease;
    margin-right: 39px;
  }
  .download-icon:hover {
    color: #007bff; /* Change the color on hover */
  }