.sidebar {
    width: 20%;
    background-color: #8d7e7e;
    margin-top: 5%;
    margin-left: 1%;
    padding: 20px;
    box-sizing: border-box;
  
    
  }
  
  
  .nav-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
   
    background-color: #8a8a3e;
    border: none;
    color: white;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    cursor: pointer;
    border-radius: 15px;
  }

  .nav-button:hover {background-color: #3e8e41}
  
  .nav-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  