
.component-add-form {
  margin-bottom: 50px;
}
.side-add-emp{
  width: 250px;
  padding: 20px;
  position: fixed;
  height: 100%;
  display: flex;
  
}

.employee-add-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding-top: 100px;
    margin-left: 38%;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .submit-btnn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btnn:hover {
    background-color: #218838;
  }

  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  