.finance-sidebar {
    width: 200px;
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #dee2e6;
    margin-top: 50px;
    padding: 20px;
    
  }
  
  .sidebar-title {
    font-size: 20px;
    margin-bottom: 20px;
    color: #343a40;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    margin-bottom: 15px;
  }
  
  .sidebar-menu li a {
    text-decoration: none;
    color: #495057;
    font-size: 16px;
  }
  
  .sidebar-menu li a.active-link {
    font-weight: bold;
    color: #007bff;
  }
  
  .sidebar-menu li a:hover {
    color: #0056b3;
  }
  