body {
  background-color: #f7f7de;
}

.login-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.login-box {
  background-color: #ffffeb;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  border: 2px solid #3d9970; /* Add this line for the border */
}

.login-box h2 {
  margin-bottom: 10px;
  color: #333;
}

.input-group {
  margin-bottom: 10px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group input::placeholder {
  color: #bbb;
}

.forgot-password {
  text-align: right;
  margin-bottom: 10px;
}

.forgot-password a {
  color: #3d9970;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.login-button {
  width: 80%;
  padding: 10px;
  background-color: #3d9970;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #2e7d57;
}

.register {
  margin-top: 10px;
}

.register span {
  color: #333;
}

.register a {
  color: #3d9970;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}
