/* Sidebar styling (for the dashboard sidebar) */
.dashbard-container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #edede6;
  height: 100vh;
  position: fixed;
  padding-top: 20px;
}

.sidebar button {
  width: 90%;
  padding: 10px;
  margin: 10px;
  background-color: #3fcb6e;
  border: none;
  color: #000;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar button:hover {
  background-color: #a39e9e;
}