/* Container */
.place-order {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: #fdf7e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Left Section */
.place-order-left {
    flex: 1;
    padding-right: 20px;
}

.place-order-left .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.place-order-left .multi-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.place-order-left input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
}

.place-order-left .multi-fields input {
    width: 48%;
}

/* Right Section */
.place-order-right {
    flex: 0.4;
    padding-left: 20px;
    background-color: #fdf7e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Cart Bottom Section */
.cart-bottom {
    margin-top: 20px;
}

.cart-total {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-total-details p {
    margin: 0;
    font-size: 18px;
    color: #333;
}

hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 10px 0;
}

/* Button */
button {
    width: 100%;
    padding: 15px;
    background-color: #556c24;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}
