.finance-dashboard {
    display: flex;
  }
  
  .dashboard-content {
    flex-grow: 1;
    padding: 20px;
    margin-top: 50px;
  }
  
  .summary-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .card-tot {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 20px;
    text-align: center;
  }
  
  .card-tot h3 {
    margin-bottom: 1px;
  }
  
  .card-tot p {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
  }
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    width: 20%;
  }
  .btn-2 {
    margin-left: 5px;
  }
  .btn-1 {
    margin-right: 5px;
    margin-left: 10px;
  }
  